#requests
#flask
#fastapi
uvicorn
Django
django
django-bootstrap5
django-bootstrap-v5
dash-bootstrap-components
django-multi-email-field
django-filer
django-mptt
djangorestframework
pillow
XlsxWriter
psycopg2-binary
numpy
pandas
#plotly
#plotly-express

