# forced add this files
!.gitignore

#discard files reader
# *.pdf
# *.epub

#discard compress files
# *.zip
# *.rar
# *.tar.gz
# *.tar
# *.gz


# discard folder/
.vscode/

# discard log files
# *.log
*.out
