.btn-start-ok {
    background-color: rgb(22, 112, 6);            
    color: #f9fffb;            
}
.btn-start-nok {            
    background-color: #ff0000;            
    color: #f9fffb;            
}

.btn-start-ok .btn-start-nok {
    border-radius: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    font-size: large;
}

.btn-start-ok:hover,
.btn-start-nok:hover {
    color:#fff;
    background-color:#0b5ed7;
    border-color:#0a58ca;
    border-radius: 0.75em;
}