<!-- incluimos el parent -->
{% extends "Login/base.html" %} 

<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %}
{% load bootstrap5 %}

<!-- Colocamos el titulo de la solapa -->
<!-- Colocamos el titulo de la solapa -->
{% block pagetitle %} {% firstof tab_title "change pass" %} {% endblock %}
<!-- Colocamos un titulo en cabecera -->
{% block headtitle %} {% firstof head_title "Cambiando Clave" %} {% endblock %}


{% block extra-sticky %} 
<!-- Incluimos el boton de volver atras desde el historial -->
{% include 'Buttons/history_back.html' %}
{% endblock %}

<!-- Contenido del cuerpo  -->
{% block content %}


{% include 'Table/msg_tag.html' with tag='warning' %}


  {% if form %}
  <!-- <div align="center"> -->
  <div class="container">      
    <div class="container-fluid" style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-6">
          <form method="post">
            {% csrf_token %}              
            <!-- Contraseña antigua:  -->
            <div class="row">
              <div class="col-md-6">
                <strong>{{ form.old_password.label_tag }}</strong>
              </div>
              <div class="col-md-6">                  
                {{ form.old_password }} 
              </div>
            </div> 
            <div class="row">
              {{ form.old_password.errors }}          
            </div> 
            <div class="row">
              <small> {{ form.old_password.help_text }} </small>              
            </div> 
            <br>

            <!-- Contraseña nueva:  -->
            <div class="row">
              <div class="col-md-6">
                <strong>{{ form.new_password1.label_tag }}</strong>
              </div>
              <div class="col-md-6">                  
                {{ form.new_password1 }} 
              </div>
            </div> 
            <div class="row">
              {{ form.new_password1.errors }}          
            </div> 
            <div class="row" style="color:rgb(112, 144, 6);">
              <div class="col-sd-12 col-md-6 col-lg-6">                
                <p class="help-block">
                  <small> <strong> {{ form.new_password1.help_text }} </strong> </small>
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <strong>{{ form.new_password2.label_tag }}</strong>
              </div>
              <div class="col-md-6">                  
                {{ form.new_password2 }} 
              </div>
            </div> 
            <div class="row">
              {{ form.new_password2.errors }}          
            </div> 
            <div class="row">
              <small> {{ form.new_password2.help_text }} </small>              
            </div> 
            <br>
            <!-- Buttons  -->
            <div class="row text-center">                
              <div class="col-md-12">
                <button class='form-button btn btn-success' type='submit' name='ok' value='ok'> Aceptar </button>
                &nbsp; &nbsp; &nbsp;
                <button class='form-button btn btn-danger' type='submit' name='nok' value='nok'> Cancelar </button>
              </div>                
            </div>
          </form>
          <br>
        </div>
        <div class="col-md-4 "></div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

