{% load static %}
  {% if msg %}
    <div class="section-seperator">
      <div class="content-md content-xs content-sm content-lg container">
        <div class="container admin-style text-left" style="margin-bottom: 10px; font-size: 20px;">
          <p>{{msg}}</p>
        </div>
        <div class="row" >
          <!-- Home -->
          {% if not user.is_anonymous %}          
            <div class="col-sm-2 sm-margin-b-10">
              <ul class="list-unstyled footer-list" >
                  <li class="footer-list-item">
                    <a href="/">
                      <span class="lktohome"> Home </span> 
                    </a>
                  </li>                      
              </ul>
            </div>
          {% else %}       
            <div class="col-sm-2 sm-margin-b-10">
              <ul class="list-unstyled footer-list" >
                  <li class="footer-list-item">
                    <a href="/#body"> 
                      <span class="lktohome"> Home </span> 
                    </a>
                  </li>                      
              </ul>
            </div>
          {% endif %}
          <!-- Salir -->
          {% if not user.is_anonymous %}          
            <div class="col-sm-1 sm-margin-b-10">
              <ul class="list-unstyled footer-list">
                <li class="footer-list-item">
                  <a href="/logout/">
                    <span class="lktohome"> Salir </span>
                  </a>
                </li>
              </ul>
            </div>
          {% else %}       
            <div class="col-sm-1 sm-margin-b-10">
              <ul class="list-unstyled footer-list">
                <li class="footer-list-item">
                  <a href="/login/">
                    <span class="lktohome"> Login </span>
                  </a>
                </li>
              </ul>
            </div>
          {% endif %}          
        </div>
      </div>
    </div> 
  {% else %}
    <!-- Footer footer login.css Normal -->
    <footer class="text-faded text-center py-5">    
      {% if not user.is_anonymous %}
        <div class="col-sm-1 sm-margin-b-10">
          <ul class="list-unstyled footer-list">
            <li class="footer-list-item">
              <a href="/logout/">
                <span class="lktohome"> Salir </span>
              </a>
            </li>
          </ul>
        </div>
      {% else %}
        <div class="col-sm-1 sm-margin-b-10">
          <ul class="list-unstyled footer-list">
            <li class="footer-list-item">
              <a href="/">
                <span class="lktohome"> Login </span>
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
        <!-- logo footer -->
        <div class="col-sm-2 sm-margin-b-10">
          <ul class="navbar-nav ml-auto">
            <img class="img-zoom logo-img logo-img-main" src="{% static '/landing/img/logo_1.svg' %}" width="240px" height="60px" alt="Essential Core" >
          </ul>
        </div>

      <!-- Imagen de fondo para todos los Templates child -->
      <style>
        footer
        {
          /*background-image: url({% static '/Login/img/footer_logo_2.svg' %});*/
          width: 110%;
          height: 100% ; /* vh */
          /* opacity:1.5; */
          /*background-image: url({% static '/Login/img/fondo.jpg' %});

          z-index: 2;
          background-color: #000;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          filter: alpha(opacity=90);
          opacity:0.9;*/

          /* Background image is centered vertically and horizontally at all times */
          background-position: center;
          /* Background image doesn't tile */
          background-repeat: no-repeat;
          /* Background image is fixed in the viewport so that it doesn't move when
            the content's height is greater than the image's height */
          background-attachment: fixed;
          /* This is what makes the background image rescale based
            on the container's size */
          background-size: cover;
          /* Set a background color that will be displayed
            while the background image is loading */
          /*background-color: dimgray;*/
          background-color: #E0E0E0;
        }
      </style>
    </footer>
  {% endif %}
  

