<!-- incluimos el parent -->
{% extends "Login/base.html" %} 

<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %}
{% load bootstrap5 %}


<!-- Colocamos el titulo de la solapa -->
{% block pagetitle %} {% firstof tab_title "pass clean request" %} {% endblock %}
<!-- Colocamos un titulo en cabecera -->
{% block headtitle %} {% firstof head_title "Pedido de Blanqueo de Contraseña" %} {% endblock %}


{% block extra-sticky %} 

<!-- Incluimos el register_ticket_sticky.html pasandole listbtn -->
{% include 'Buttons/buttons_sticky.html' with button_list=listbtn %}


{% endblock %}


{% block content %}


          
  {% if email %}
    <div class="container-fluid" style="margin-top: 100px;">
      <div style="text-align: center;">      
        <h1 style="color:rgb(7, 200, 1); margin: 20px;"> Blanqueo de Contraseña Sastifactorio.</h1>
        <h2 style="color:rgb(242, 247, 242);">
          Revise su casilla de corre Electronico <span style="color:rgb(7, 200, 1)"> '{{email}}' </span>
          , donde se envio su nueva contraseña.
        </h2>
        <h3 style="color:rgb(242, 247, 242); margin: 60px;">
          <div class="text-center">
            <a href=/login/ class="btn btn-info" title="Click para redirecionar a Login"> 
              <strong> Login </strong>
            </a>
          </div>
        </h3>
      </div>
    </div>          
  {% elif "novalido" in request.GET %}  
    <div class="container-fluid" style="margin-top: 100px;">
      <div style="text-align: center;">      
        <h1 style="color:rgb(221, 22, 15); margin: 20px center;"> No se pudo enviar el emeil.</h1>
      </div>
    </div>          
  {% endif %}    

  {% if miFormulario %}
    <div class="container-fluid" style="margin-top: 100px;">
      <br>                          
      <div>
        <div class="container">
          <div class="col-sd-12 col-md-6 col-lg-6">
            <form method="POST">
              {% csrf_token %}
              <!-- Nombre Usuario -->
              <div class="row" style="color:rgb(248, 251, 250);">
                <div class="col-md-4">
                  <strong>{{ miFormulario.nombre.label_tag }}</strong>
                </div>
                <div class="col-md-4">                  
                  {{ miFormulario.nombre }} 
                </div>             
              </div> 
              <div style="background-color:rgb(248, 251, 250);">
                {{ miFormulario.nombre.help_text }}
              </div> 
              <div style="background-color:rgb(248, 251, 250);">
                {{ miFormulario.nombre.errors }}
              </div>               

              <br>
              <!-- Email -->
              <div class="row" style="color:rgb(248, 251, 250);">
                <div class="col-md-4">
                  <strong>{{ miFormulario.email.label_tag }}</strong>
                </div>
                <div class="col-md-4">                  
                  {{ miFormulario.email }} 
                </div>              
              </div> 
              <div style="background-color:rgb(248, 251, 250);">
                {{ miFormulario.email.help_text }}
              </div> 
              <div style="background-color:rgb(248, 251, 250);">
                {{ miFormulario.email.errors }}
              </div>  
              <br>
              <!-- Contenido -->
              <div class="row" style="color:rgb(248, 251, 250);">
                <div class="col-md-4">
                  <strong>{{ miFormulario.contenido.label_tag }}</strong>
                </div>
                <div class="col-md-4">                  
                  {{ miFormulario.contenido }} 
                </div>              
              </div> 
              <div style="background-color:rgb(248, 251, 250);">
                {{ miFormulario.contenido.help_text }}
              </div> 
              <div style="background-color:rgb(248, 251, 250);">
                {{ miFormulario.contenido.errors }}
              </div> 
              <br>
              <!-- error msg -->
              <div class="row">
                <div class="col-md-8">
                  {{ form.non_field_errors }}
                </div>
              </div>
              <br>
              <div class="row text-center"> 
                <div>
                  <button class='form-button btn btn-success' type='submit' name='ok' value='ok' > 
                    Guardar
                  </button> 
                  &nbsp; &nbsp; &nbsp;
                  <button class='form-button btn btn-danger' type='submit' name='nok' value='nok' >
                    Clean
                  </button> 
                  &nbsp; &nbsp; &nbsp;
                  <a href="/" class='form-button btn btn-danger'> Cancelar </a>
                </div>
                
              </div>

              <!-- <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-2">
                  <button class='form-button btn btn-success' type='submit' name='ok' value='ok'> Enviar </button>
                </div>
                <div class="col-md-2">
                  <button class='form-button btn btn-danger' type='submit' name='nok' value='nok'> Cancelar </button>  
                </div>
                
              </div> -->
              <br>
            </form>
            {% bootstrap_messages %}     
          </div>
          <br>
        </div>                
      </div>
    </div>
  {% endif %}
    


{% endblock %}








