<!-- incluimos el parent -->
{% extends "Login/base.html" %} 

<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %}
{% load bootstrap5 %}


<!-- Colocamos el titulo de la solapa -->
{% block pagetitle %} {% firstof tab_title "tab_title" %} {% endblock %}

<!-- Colocamos un titulo en cabecera -->
{% block headtitle %} {% firstof head_title "head_title" %} {% endblock %}

<!-- Incluimos el register_ticket_sticky.html pasandole listbtn -->
{% block extra-sticky %}{% include 'Buttons/buttons_sticky.html' with button_list=listbtn %}{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-top: 50px;">
    <div class="container">{% include 'Login/messages.html' %}</div>
    {#<div class="container admin-style">{% include 'Login/filtro.html' with title='Buscar:' button='Buscar' %}</div> #}
</div>

<!-- Listado de Modulos -->
<div class="container">
    <div class="row">
        {% if urlbtn_add %}
        <div class="container">
            <div class="row text-right">{% include 'Buttons/button_add.html' with urlbtn=urlbtn_add  titlebtn=titlebtn_add %}</div>
        </div>
        {% endif %}      
        <table id="tblhistory" class="table table-hover table-strip table-responsive table-responsive-sm table-responsive-md estilo1">
            <thead>
                <tr >
                    <th style="width:150px"> ID </th>
                    <th style="width:350px"> Nombre de Modulo </th>
                    <th style="width:800px"> Descripcion del modulo </th>  
                </tr>
            </thead>
            <tbody> 
                {% for it in modules_all %}          
                <tr class="rtbl-attend td-hover" onclick="window.location='{{it.id}}/edit';" title='{{urledit_title}} jhg' >
                    <td class="text-center"> {{it.id}} </td>
                    <td class="text-center"> {{it.nombre}} </td>
                    <td class="text-center"> {{it.descripcion}} </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
</div>

{% if form_edit %}
<button type="button"  data-toggle="modal" data-target="#popup02" data-backdrop="static" data-keyboard="false" title='None'></button>
{% endif %}

<!-- Form PopUp  -->
<script>
    window.onload = () => {
        document.querySelector('[data-target="#popup02"]').click();
    };
</script>

<div class="container py-3">  
    <div class="modal fade" id="popup02" tabindex="-1" role="dialog" aria-labelledby="popup02Label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popup02Label">Editando el Modulo {{inst_edit}}</h5>                
                </div>
                <div class="text-center">
                    <form method="POST" id="msg-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">              
                            <div>
                                <div class="row" >
                                    <div class="col-md-2">{{ form_edit.nombre.label_tag }}</div>
                                    <div class="col-md-4">{{ form_edit.nombre }}</div>
                                    <div class="col-md-3">{{ form_edit.nombre.help_text }}</div>
                                    <div class="col-md-3">{{ form_edit.nombre.errors }}</div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-2">{{ form_edit.descripcion.label_tag }}</div> 
                                    <div class="col-md-4">{{ form_edit.descripcion }}</div>
                                    <div class="col-md-3">{{ form_edit.descripcion.help_text }}</div>
                                    <div class="col-md-3">{{ form_edit.descripcion.errors }}</div>
                                </div> 
                                <br> 
                            </div>
                        </div>            
                        <div class="modal-footer">
                            <button type="submit" name='ok' value='ok' id="msgSubmit" class="btn btn-outline-success"><strong>Guardar</strong></button>
                            <button type="submit" name='nok' value='nok' class="btn btn-outline-info"><strong>Cancelar</strong></button>
                            <button type="submit" name='del' value='del' class="btn btn-outline-danger"><strong>Eliminar</strong></button>
                        </div>        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script >
    $(document).ready(()=>{
        $('#msg-form').on('submit', (event) => {
            event.preventDefault();
            $.ajax({
                url: '/msg/',
                type: 'POST',
                // headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $('#msg-form').serialize(),
                beforeSend: () => { $("#msgModal").modal("show"); },
                success: (data) => { $('#msgModal .modal-body').html(data); }
            });
        });        
    });  
</script>    
{% endblock %}
