<!-- incluimos el parent -->
{% extends "Login/base.html" %} 

<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %}
{% load bootstrap5 %}

<!-- Colocamos el titulo de la solapa -->
{% block pagetitle %} {% firstof tab_title "tab_title" %} {% endblock %}

<!-- Colocamos un titulo en cabecera -->
{% block headtitle %} {% firstof head_title "head_title" %} {% endblock %}

<!-- Incluimos el register_ticket_sticky.html pasandole listbtn -->
{% block extra-sticky %} {% include 'Buttons/buttons_sticky.html' with button_list=listbtn %}{% endblock %}


<!-- Listado de Programadores -->
{% block content %}
<div class="container">
    <div class="row">
        {% include 'Login/messages.html' %}
        {# {% include 'Login/filtro.html' with title='Buscar:' button='Buscar' %} #}
        {% if urlbtn_add %}
        <div class="container">
            <div class="row text-right">
            {% include 'Buttons/button_add.html' with urlbtn=urlbtn_add  titlebtn=titlebtn_add %}
            </div>
        </div>
        {% endif %}  
        <table id="tblhistory" class="table table-hover table-strip table-responsive table-responsive-sm table-responsive-md estilo1">
            <thead>
                <tr >
                    <th style="width:300px"> Nombre de Usuario </th>
                    <th style="width:300px"> Empresa </th>
                    <th style="width:400px"> Nombre Completo </th>
                    <th style="width:200px"> Email </th>
                    <th style="width:400px"> Telefono </th>
                    <th style="width:300px"> Other </th>
                </tr>
            </thead>
            <tbody> 
                {% for it in client_all %}            
                <tr class="rtbl-attend td-hover" onclick="window.location='{% url urllink it.id %}';" title="{{urltitle}} '{{it.username}}'." >
                    <td class="text-center"> {{it}} </td>
                    <td class="text-center"> {{it.empresa}} </td>
                    <td class="text-center"> 
                        <div>{% firstof it.first_name '' %}</div>
                        <div>{% firstof it.last_name '' %}</div>
                    </td>
                    <td class="text-center"> {{it.email}}</td>
                    <td class="text-center"> {% firstof it.telefono '' %}</td>
                    <td><div>User Id: {{it.id}}</div></td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
