<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %} 



{% if button_list %}
<div id="sticky_back"> 
    <div class="text-left lktinsticky">
        {% if user != 'AnonymousUser' %} {{user}} {% endif %}
    </div>
    <div class="container">
        <div align="center" class="row justify-content-center">
            {% for it in button_list %}
            <div class="col-4 col-sm-2 col-md-2 col-lg-2">
                <div class="row">
                    <div class="col-md-12 center-block img-zoom">
                        <a href="{{it.url}}" title="{{it.msg}}">
                            <img src="{% static 'Buttons/img/'%}{{it.path}}" class="d-md-block img-responsive;" width="30px" height="30px"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center-block">                      
                        <a href="{{it.url}}" class="d-md-block" title="{{it.msg}}">
                            <small class="lktinsticky"> {{it.label }}</small>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </div>
    </div>
</div>
{% endif %}

{# <small class="lktinsticky">{% for it in it.label|getList %}<div> {{it}} </div>{%endfor%}</small> #}