<!-- incluimos el parent -->
{% extends "Login/base.html" %} 

<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %}
{% load bootstrap5 %}

<!-- Colocamos el titulo de la solapa -->
{% block pagetitle %} {% firstof tab_title "change pass" %} {% endblock %}
<!-- Colocamos un titulo en cabecera -->
{% block headtitle %} {% firstof head_title "Cambiando Clave" %} {% endblock %}


{% block extra-sticky %} 
<!-- Incluimos el boton de volver atras desde el historial -->
  {% if listbtn %}
    {% include 'Buttons/buttons_sticky.html' with button_list=listbtn %}
  {% else %}
    {% include 'Buttons/history_back.html' %}
  {% endif %}
{% endblock %}

<!-- Contenido del cuerpo  -->
{% block content %}




{% if form %}
<div class="container">      
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post">
                {% csrf_token %}
                <!-- Contraseña antigua:  -->
                    <div class="row">
                        <div class="col-md-6" style="color:rgb(255, 255, 255);" class="site-heading-lower"><strong>{{ form.new_password1.label_tag }}</strong></div>
                        <div class="col-md-6" style="color:rgb(255, 255, 255);" class="site-heading-lower">{{ form.new_password1 }}</div>
                    </div> 
                    <div class="row" style="background-color:rgb(255, 255, 255);">{{ form.new_password1.errors }}</div> 
                    <div class="row" style="color:rgb(226, 225, 153);" class="site-heading-lower">
                        <small> <b> {{ form.new_password1.help_text }} </b> </small>              
                    </div> 
                    <br>            
                    <!-- Confirmacion Contraseña Nueva:  -->
                    <div class="row">
                        <div class="col-md-6" style="color:rgb(255, 255, 255);" class="site-heading-lower"><strong>{{ form.new_password2.label_tag }}</strong></div>
                        <div class="col-md-6" style="color:rgb(255, 255, 255);" class="site-heading-lower">{{ form.new_password2 }}</div>
                    </div> 
                    <div class="row" style="background-color:rgb(255, 255, 255);">{{ form.new_password2.errors }}</div> 
                    <div class="row"><small> {{ form.new_password2.help_text }} </small></div> 
                    <br>
                    <div class="row text-center">
                        <div class="col-md-12"> 
                            <button class='form-button btn btn-success' type='submit' name='ok' value='ok'> Aceptar </button>
                            &nbsp; &nbsp; &nbsp;
                            <a class='form-button btn btn-danger' href={{urlbtn_cancel}} role="button"> Cancelar </a>
                        </div>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="row" style="background-color:rgb(255, 255, 255);">
        {% include 'Login/messages.html' %}
    </div>
</div>
{% endif %}
{% endblock %}

