<!-- incluimos el Parent -->
{% extends "Login/base.html" %} 

<!-- Cargamso static donde tenemos Bootstrap -->
{% load static %}
{% load bootstrap5 %}


<!-- Colocamos el titulo de la solapa -->
{% block pagetitle %} {% firstof tab_title "tab_title" %} {% endblock %}

<!-- Colocamos un titulo en cabecera -->
{% block headtitle %} {% firstof head_title "head_title" %} {% endblock %}


<!-- Incluimos el register_ticket_sticky.html pasandole listbtn -->
{% block extra-sticky %} {% include 'Buttons/buttons_sticky.html' with button_list=listbtn %} {% endblock %}


{% block content %}
<div class="container-fluid" style="margin-top: 100px;">
    <div class="container">
        <div class="row text-center table-responsive" style="margin-bottom: 50px;">            
            <table >
                <tbody>
                    <tr>
                        {% for it in listlink %}
                        <td> 
                            &nbsp;
                            <a href={{it.link}} class="btn btn-info" title="Click para Ingresar a {{it.title}}"> <strong> {{it.name}} </strong></a>
                            &nbsp;
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <br>        
        </div>
        {% include 'Login/messages.html' %}
    </div>
</div> 
<br>
{% endblock %}

{% block footer %} {% endblock %}